---
import Navbar from "./navbar/navbar.astro"


---

<div class=" fixed inset-0 bg-gray-900 bg-opacity-50  items-center justify-center hidden flex" id="Registerpopup">
    <div class="bg-white  p-8 rounded-md shadow-md w-1/3">
       <h2 class="font-bold text-2xl text-center">INSCRIPTION</h2><br>
           <form class="space-y-5">
                   <input type="email" name="" id="" required class="w-full border rounded-xl p-2" placeholder="entrez votre email">
                   <input type="password" name="" id="password" required class="w-full border rounded-xl p-2" placeholder="entrez le mot de passe">
                   <input type="password" name="" id="password_confirm" required class="w-full border rounded-xl p-2 " placeholder="confirmez le mot de passe" >
               <button type="button" class="w-full border rounded-xl p-2 bg-black text-white font-bold"> valider</button>
           </form>
           <button id="closeRegister" class=" absolute top-40 right-30 text-red-400 text-5xl">&times;</button>
           <h2 class="mt-4 text-center hover:tex"> Vous avez dejà un compte ? <a href="http://" class="hover:underline "> connectez-vous</a></h2>
   </div>
</div>
